{% extends "base.html" %}

{% load static %}

{% block content %}
  <h1>Mini Challenge 1</h1>
  <div class="row">
    <div class="map col-7"></div>
    <fieldset id="legend-species" class="legends col-3">
      <legend>Species</legend>
      <div class="legend">
        <input type="checkbox" id="cc" checked/>
        <label for="cc">Check All</label>
      </div>
    </fieldset>
    <div class="col-2">
      <fieldset id="legend-vt" class="legends row">
        <legend>Vocal. Types</legend>
        <div class="legend">
          <input type="checkbox" id="vt-cc" checked/>
          <label for="vt-cc">Check All</label>
        </div>
      </fieldset>
      <fieldset id="slider-rb" class="legends row">
        <legend>Slider Tune</legend>
        <div class="legend">
          <input type="radio" id="rb-year" class="slider-rb-opt" name="slider-rb" checked/>
          <label for="rb-year">by Year</label>
        </div>
        <div class="legend">
          <input type="radio" id="rb-month" class="slider-rb-opt" name="slider-rb"/>
          <label for="rb-month">by Month</label>
        </div>
      </fieldset>
      <fieldset id="kasios-cb" class="legends row">
        <legend>Kasios Data</legend>
        <div class="legend">
          <input type="checkbox" id="kasios-cb-opt" checked/>
          <label for="kasios-cb-opt">Show</label>
        </div>
      </fieldset>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static "js/mc1.js" %}"></script>
{% endblock javascript %}