{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Iraquitan Cordeiro Filho">
  <link rel="icon" href="{% static "img/favicon.ico" %}">
  <title>{% block title %}{% trans "VAST 2018" %}{% endblock title %}</title>
  {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/starter-template.css" %}" rel="stylesheet">
  {% endblock css %}
  {% block fontawesome %}
    <script defer src="{% static "vendor/fontawesome/js/fontawesome-all.js" %}"></script>
  {% endblock fontawesome %}
  {% block d3 %}
{#    <script type="module" src="{% static "vendor/d3/js/d3.min.js" %}"></script>#}
    <script src="{% static "vendor/d3/js/d3.min.js" %}"></script>
  {% endblock d3 %}
</head>
<body>

{% include "./nav.html" %}

<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock content %}
</div> <!-- /container -->

{% include "./footer.html" %}

{% block bootstrap_js %}
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
{% endblock bootstrap_js %}

{% block javascript %}
{% endblock javascript %}
</body>
</html>
